<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Primera vista/Yape</title>
    <link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

  </head>
  <body>
    <section class="container">
      <div class="row">
        <div class="carousel carousel-slider col s12">
          <a class="carousel-item" href="#one!"><img src="/static/assets/img/icons/icon-people.png"></a>
          <a class="carousel-item" href="#two!"><img src="/static/assets/img/icons/happy-person.png"></a>
          <a class="carousel-item" href="#three!"><img src="/static/assets/img/icons/group-people.png"></a>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h1 class="center-align col s12">Paga a tus amigos</h1>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h4 class="center-align">Paga a quien quieras desde donde quieras, sin usar efectivo.</h4>
        </div>
      </div>

      <div class="row">
        <div class="col s12 font-size">
          <a class="waves-effect waves-light btn-large yellow col s12 " href="static/views/segunda.html">Registrarme</a>
        </div>
      </div>
    </section>


  <script src="/static/jquery/dist/jquery.min.js"></script>
  <script src="/static/materialize-css/dist/js/materialize.min.js"></script>
  <script src="/static/assets/js/app.js"></script>
  </body>
</html>
