<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quinta vista/yape</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
  </head>
  <body class="yellow vistas" id="quintaVista">
    <section class="container">
      <div class="row">
        <div class="col s12">
          <img src="/static/assets/img/icons/check.png" alt="check" class="center-align col s4 offset-s4 ">
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="center-align">¡Bien!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>
            <h2 class="center-align">Ahora puedes usar Yape</h2>
          </p>
        </div>
      </div>
    </section>

  </body>
  <script src="/static/jquery/dist/jquery.min.js"></script>
  <script src="/static/materialize-css/dist/js/materialize.min.js"></script>
  <script src="/static/assets/js/splash.js"></script>
</html>
