<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tercera Vista/yape</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
  </head>
  <body>
    <section class="container">
      <div class="row">
        <div class="col s12 center-align ">
          <img src="/static/assets/img/icons/message.png" alt="sobre" class="center-align col s4 offset-s4 ">
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="center-align">Ahora ingresa tu código</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>
            <h4 class="center-align">Envíamos un SMS con el código de validación al número  <strong>234566</strong></h4>
          </p>
        </div>
      </div>
    </section>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix"><img src="/static/assets/img/icons/lock.png" alt="lock"></i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix"></label>
          </div>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <h5 class="col s12 center-align">Reintentar en<img src="/static/assets/img/icons/clock.png" alt="clock"><span id="contador">21</span>
        </h5>
      </div>
    </div>

    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
  </body>
</html>
