<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cuarta Vista/yape</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
  </head>
  <body class="vistas">
    <section class="container">
      <div class="row">
        <div class="col s12 center-align ">
          <img src="/static/assets/img/icons/lockone.png" alt="sobre" class="center-align col s8 offset-s2">
        </div>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col s12">
          <h1 class="center-align">Crea tu usuario Yape</h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <p>
            <h4 class="center-align">Ingresa un nombre, email y clave de usuario.</h4>
          </p>
        </div>
      </div>
    </section>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix"><img src="/static/assets/img/icons/user.png" alt="lock"></i>
            <input id="nombre" type="text" class="validate" placeholder="Nombre">
            <label for="nombre"></label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix"><img src="/static/assets/img/icons/message-gray.png" alt="lock"></i>
            <input id="correo" type="text" class="validate" placeholder="correo@ejemplo.com">
            <label for="correo"></label>
          </div>
          <div class="input-field col s12">
            <i class="material-icons prefix"><img src="/static/assets/img/icons/lock.png" alt="lock"></i>
            <input id="clave" type="text" class="validate" placeholder="Ingresa clave de seis dígitos">
            <label for="clave"></label>
          </div>
          <div class="container">
            <div class="row">
              <h5 class="col s12 center-align">Cuida esta clave como oro, es tu acceso a Yape</h5>
            </div>
          </div>
          <div class="row">
            <div class="center-align col s8 offset-s2  font-size">
              <button id="botonForm" type="button" name="button" class="waves-effect waves-light btn-large yellow" disabled="">Crear cuenta</button>
            </div>
          </div>
        </div>
      </form>
    </div>



    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/static/assets/js/form.js"></script>
  </body>
</html>
