<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Octava Vista/Yape</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
  </head>
  <body id="ultimaPagina">
    <section id="happyFace" class="moradoUno">
      <div class="row">
        <div class="col s12 margin-top margin-left" >
          <img id="engine" src="/static/assets/img/icons/engine.png" alt="engine" class="col s1 offset-s9 ">
        </div>
      </div>
      <div class="row">
        <div class="center-align col s8 offset-s2">
            <img  id="face" src="/static/assets/img/icons/happy-face.png" alt="happy-face">
        </div>
      </div>
      <div class="row">
        <h1 class="center-align col s12 blanco moradoUno">Hola</h1>
      </div>
      <div class="row">
        <h4 class="center-align tarjetaTexto"><img src="/static/assets/img/icons/eye.png" alt="scan">Mostrar Saldo</h4>
      </div>
    </section>

    <section id="happyFaceDos">
      <div class="row border-bottom">
        <div class="col s8">
          <h2 class="blanco" >ÚLTIMOS MOVIMIENTOS</h2>
        </div>
        <div class="col s4">
          <img id="iconoFlecha" src="/static/assets/img/icons/right-arrow-circular-button.png" alt="arrow" >
        </div>
      </div>
      <hr class="white">

      <div class="container" id="ultimaSeccion">
        <div class="row">
          <div class="col s12">
            <div class="col s4">
              <img src="/static/assets/img/icons/icon.png" alt="icon">
            </div>
            <div class="col s8">
              <h2 class="blanco center-align">¿Aún no has realizado tu primer pago?</h2>
              <h3 class="blanco center-align">Es rápido y sencillo</h3>
            </div>
          </div>
       </div>
      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <img src="/static/assets/img/icons/send.png" alt="send" class="center-align ">
          </div>
          <div class="col s6">
            <img src="/static/assets/img/icons/code-qr.png" alt="send" class="center-align ">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <h3 class="center-align blanco">ENVIAR PAGO</h3>
          </div>
          <div class="col s6">
            <h3 class="center-align blanco">RECIBIR PAGO</h3>
          </div>
        </div>
      </div>
    </div>



    </section>
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/materialize-css/dist/js/materialize.min.js"></script>
    <!-- <script src="/static/assets/js/app.js"></script> -->
  </body>
</html>
